<md-tab-group>
  <md-tab label="Capabilities">
	Munzo Solutions is a Small Business, with a primary focus on delivering high quality Software Solutions, with a focus on Security and Reliability.
  </md-tab>
  <md-tab label="Mission">
	The short term objective of Munzo Solutions is to penetrate the Small Contracting Firm Market, and rapidly provide high quality, secure software solutions.  The long term goal is to expand and offer well paid jobs to midwest-based Information Te.
  </md-tab>
  <md-tab label="Our Staff">
  <strong>Owner - Nicholas "Nick" Clifton</strong>
  
  </md-tab>
</md-tab-group>